Repository uchicago-cs/chigame, pull requests merged in 2023-11, with the labels that each got.

#108 (user profiles) Add friend invitations endpoints
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/templates/users/userprofile_detail.html
Labels: x/user-profiles-friending

#75 Completed task that creates the admin user page that displays all the users.
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/templates/users/user_detail.html
Labels: x/user-profiles-friending

#103 Added Lobby List and Lobby detail pages
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/games/lobby_details.html
  src/templates/games/lobby_list.html
Labels: x/matches

#130 Create a notification model and update friending endpoints to make use of the model
  src/chigame/users/admin.py
  src/chigame/users/migrations/0003_added_notification_model.py
  src/chigame/users/migrations/0004_added_visible_column_to_notifications.py
  src/chigame/users/migrations/0005_added_and_changed_names_of_cols_in_notifications.py
  src/chigame/users/migrations/0006_add_type_attribute_to_Notification.py
  src/chigame/users/models.py
  src/chigame/users/views.py
Labels: x/user-profiles-friending

#140 Updated lobby model to Incorporate Functionality Described in User Stories
  src/chigame/games/migrations/0002_lobby.py
  src/chigame/games/models.py
Labels: x/matches

#117 Made the Game edit view and Game create view only accessible to staff members
  src/chigame/games/views.py
  src/templates/games/game_detail.html
  src/templates/games/game_list.html
Labels: x/game-management

#153 Update game model
  src/chigame/games/migrations/0003_category_mechanic_game_bgg_id_game_complexity_and_more.py
  src/chigame/games/models.py
  src/static/images/no_picture_available.png
Labels: x/game-management

#136 Create tournaments/models.py based on the tournaments/ERD.md
  src/chigame/games/migrations/0002_initial.py
  src/chigame/games/migrations/0004_initial.py
  src/chigame/games/migrations/0005_initial.py
  src/chigame/games/models.py
Labels: x/tournaments

#158 Implemented django-tables2 to lobby list view
  requirements/local.txt
  src/chigame/games/tables.py
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/config/settings/base.py
  src/templates/games/lobby_list.html
Labels: enhancement, x/matches

#155 matches/Updated Match and Player models to track information pertinent to match outcomes
  src/chigame/games/migrations/0006_matches_nullable_outcome.py
  src/chigame/games/models.py
Labels: x/matches

#110 Created users-friends fixture file
  src/chigame/users/fixtures/users_fixture.json
Labels: x/user-profiles-friending

#183 add ignore=E203 to flake8
  setup.cfg
Labels: dependencies

#175 created sandbox directory
  src/sandbox/README.md
Labels: x/forums

#193 Created a view for user's historical game information
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/templates/users/user_history.html
Labels: x/user-profiles-friending

#179 Fixed bug where fields that are supposed to be nullable were required on forms
  src/chigame/games/migrations/0006_Allow_null_fields.py
  src/chigame/games/migrations/0007_image_field_as_text.py
  src/chigame/games/migrations/0008_merge_20231113_1632.py
  src/chigame/games/models.py
Labels: bug, x/game-management

#138 Add `TournamentListView` class for Enhanced Tournament Display
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/tournaments/tournament_list.html
Labels: x/tournaments

#204 Added django-machina demo to the sandbox
  src/sandbox/django-machina-demo/Makefile
  src/sandbox/django-machina-demo/README.md
  src/sandbox/django-machina-demo/main/__init__.py
  src/sandbox/django-machina-demo/main/apps/__init__.py
  src/sandbox/django-machina-demo/main/apps/auth/__init__.py
  src/sandbox/django-machina-demo/main/apps/auth/forms.py
  src/sandbox/django-machina-demo/main/apps/auth/urls.py
  src/sandbox/django-machina-demo/main/apps/auth/views.py
  src/sandbox/django-machina-demo/main/common/__init__.py
  src/sandbox/django-machina-demo/main/common/mixins.py
  src/sandbox/django-machina-demo/main/static/css/theme.css
  src/sandbox/django-machina-demo/main/templates/base.html
  src/sandbox/django-machina-demo/main/templates/board_base.html
  src/sandbox/django-machina-demo/main/templates/registration/base_account.html
  src/sandbox/django-machina-demo/main/templates/registration/login.html
  src/sandbox/django-machina-demo/main/templates/registration/parameters.html
  src/sandbox/django-machina-demo/main/templates/registration/password.html
  src/sandbox/django-machina-demo/main/templates/registration/password_reset_complete.html
  src/sandbox/django-machina-demo/main/templates/registration/password_reset_confirm.html
  src/sandbox/django-machina-demo/main/templates/registration/password_reset_done.html
  src/sandbox/django-machina-demo/main/templates/registration/password_reset_form.html
  src/sandbox/django-machina-demo/main/templates/registration/register.html
  src/sandbox/django-machina-demo/main/templates/registration/unregister.html
  src/sandbox/django-machina-demo/manage.py
  src/sandbox/django-machina-demo/project/__init__.py
  src/sandbox/django-machina-demo/project/fixtures/forums.json
  src/sandbox/django-machina-demo/project/fixtures/polloptions.json
  src/sandbox/django-machina-demo/project/fixtures/polls.json
  src/sandbox/django-machina-demo/project/fixtures/posts.json
  src/sandbox/django-machina-demo/project/fixtures/topics.json
  src/sandbox/django-machina-demo/project/settings/__init__.py
  src/sandbox/django-machina-demo/project/settings/base.py
  src/sandbox/django-machina-demo/project/settings/dev.py
  src/sandbox/django-machina-demo/project/urls.py
  src/sandbox/django-machina-demo/requirements.txt
  src/sandbox/django-machina-demo/test.db
  src/sandbox/django-machina-demo/wsgi.py
Labels: x/forums

#203 Delete notification model and add announcemnt model [V2]
  src/chigame/games/migrations/0009_announcement_delete_notification.py
  src/chigame/games/models.py
Labels: x/tournaments

#184 Helper methods( Filtering and Updating) for Notification model
  src/chigame/users/models.py
Labels: x/user-profiles-friending

#220 Setup demo instance of Misago for Forum use
  .gitignore
  .gitmodules
  src/sandbox/misago-demo/MISAGO.md
Labels: x/forums

#180 Restructured API tests (for Game Endpoints) to use Factories and be consistent with new Game model
  src/chigame/api/tests.py
  src/chigame/api/tests/factories.py
  src/chigame/api/tests/test_api.py
Labels: bug, x/api

#157 Implemented API HTTP requests for Lobby list (GET/POST) and detail view (GET/PATCH/DELETE)
  src/chigame/api/serializers.py
  src/chigame/api/urls.py
  src/chigame/api/views.py
Labels: x/api

#176 Created basic search bar to be added to the navigation bar
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/base.html
  src/templates/pages/search_results.html
Labels: x/game-management

#186 Added Join Lobby and Leave Lobby functionality to Lobby detail page
  src/chigame/games/fixtures/games-data.json
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/games/lobby_details.html
Labels: x/matches

#223 Added token attribute with max value of 3
  src/chigame/users/migrations/0002_user_tokens_alter_notification_type.py
  src/chigame/users/models.py
Labels: x/user-profiles-friending, x/tournaments

#147 Accepting and declining friend requests and profile view reflect status of friend invitations
  src/chigame/users/models.py
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/templates/users/userprofile_detail.html
Labels: x/user-profiles-friending

#192 Updating the games crud pages to account for new attributes in our game model
  src/chigame/games/forms.py
  src/chigame/games/migrations/0010_categories_plural.py
  src/chigame/games/migrations/0011_revert_category_name.py
  src/chigame/games/views.py
  src/chigame/users/migrations/0002_categories_plural.py
  src/chigame/users/migrations/0003_merge_20231115_1525.py
  src/templates/games/game_detail.html
Labels: x/game-management

#205 Add create and read views to the tournaments webpages
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/tournaments/tournament_create.html
  src/templates/tournaments/tournament_detail.html
  src/templates/tournaments/tournament_list.html
Labels: x/tournaments

#210 Add update and delete views to the tournaments webpages
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/tournaments/tournament_delete.html
  src/templates/tournaments/tournament_detail.html
  src/templates/tournaments/tournament_update.html
Labels: x/tournaments

#209 Update the tournament models and provide support for managing tournament models in the admin interface
  src/chigame/games/admin.py
  src/chigame/games/migrations/0012_update_tournaments.py
  src/chigame/games/models.py
  src/chigame/games/views.py
  src/templates/tournaments/tournament_list.html
Labels: x/tournaments

#208 Added Tournaments Tab to Navigation Bar
  src/templates/base.html
Labels: x/tournaments

#120 New page showing list of all users on the platform
  src/chigame/users/tables.py
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/templates/users/user_list.html
Labels: x/user-profiles-friending

#231 Small five game fixture added
  src/chigame/games/fixtures/games-fixture-small.json
Labels: enhancement

#254 Added mock fixture to the django-machina demo
  src/sandbox/django-machina-demo/mock-fixture.json
Labels: x/forums

#236 Created categories and mechanic fixtures
  .gitignore
  src/chigame/api/tests/factories.py
  src/chigame/api/tests/test_api.py
  src/chigame/games/fixtures/mechanics_categories_fixtures.json
  src/chigame/games/forms.py
  src/chigame/games/migrations/0010_rename_category_game_categories_category_image_and_more.py
  src/chigame/games/migrations/0012_merge_20231115_1702.py
  src/chigame/games/migrations/0013_merge_20231116_0044.py
  src/chigame/games/models.py
Labels: enhancement, x/game-management

#255 Integrated django-machina
  requirements/base.txt
  src/config/settings/base.py
  src/config/settings/local.py
  src/config/settings/test.py
  src/config/urls.py
Labels: dependencies, x/forums

#161 Created API Endpoint: GET list of friends of a user given `user_id` (ENDPOINT: `api/users/<int:user_id>/friends`)
  src/chigame/api/serializers.py
  src/chigame/api/urls.py
  src/chigame/api/views.py
Labels: x/api

#246 Added medium (50) and big (500) game fixtures
  src/chigame/games/fixtures/.DS_Store
  src/chigame/games/fixtures/games-fixture-5.json
  src/chigame/games/fixtures/games-fixture-50.json
  src/chigame/games/fixtures/games-fixture-500.json
  src/chigame/games/models.py
Labels: enhancement

#160 Added querying capabilities to the Game List API Endpoint
  requirements/local.txt
  src/chigame/api/filters.py
  src/chigame/api/views.py
  src/config/settings/base.py
Labels: x/api

#156 Initial inbox feature includes button and list of notification IDs
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/templates/base.html
  src/templates/users/user_inbox.html
Labels: x/user-profiles-friending

#240 Tournaments/implement display chat and display chat content
  src/chigame/games/migrations/0014_remove_chat_match_chat_tournament_and_more.py
  src/chigame/games/models.py
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/static/js/getChatUpdate.js
  src/templates/tournaments/tournament_chat.html
Labels: x/tournaments

#279 Added a more realistic fixture for lobbies
  src/chigame/games/fixtures/lobby-fixture-15.json
Labels: x/matches

#189 Add tournaments brackets feature
  src/chigame/games/models.py
  src/chigame/games/views.py
  src/templates/tournaments/tournament_detail.html
  src/templates/tournaments/tournament_list.html
Labels: x/tournaments

#288 Truncated description on game cards and decreased size of description on game page
  src/templates/games/game_detail.html
  src/templates/games/game_grid.html
Labels: x/game-management

#239 Added support to search bar for querying for games by the publisher's name, by an artist's name, or by a designer's name
  src/chigame/games/views.py
Labels: x/game-management

#264 Add API logic for create/delete message by adding a generic api endpoint for messages
  src/chigame/api/serializers.py
  src/chigame/api/tests/factories.py
  src/chigame/api/tests/test_api.py
  src/chigame/api/urls.py
  src/chigame/api/views.py
  src/chigame/games/migrations/0015_message_token_id_message_update_on_and_more.py
  src/chigame/games/models.py
Labels: x/tournaments

#312 Created Chigame Logos and Icon
  src/static/css/project.css
  src/static/images/favicons/chigame.ico
  src/static/images/logos/favicon.ico
  src/static/images/logos/icon.png
  src/static/images/logos/logo.png
  src/static/images/logos/logo.psd
  src/static/images/logos/logo_filled.jpg
  src/static/images/logos/logo_with_text.png
  src/static/images/logos/logo_with_text.psd
  src/templates/base.html
Labels: enhancement

#287 Generated new game fixtures that correctly parse special XML characters
  src/chigame/games/fixtures/games-fixture-5.json
  src/chigame/games/fixtures/games-fixture-50.json
  src/chigame/games/fixtures/games-fixture-500.json
  src/chigame/games/fixtures/games-fixture-manual-5.json
Labels: bug, x/game-management

#306 Display search results as a grid and removed duplicate results
  src/chigame/games/views.py
Labels: x/game-management

#302 Add games nav item to the nav bar (minor)
  src/templates/base.html
Labels: enhancement, x/game-management

#233 Implemented basic field constraints to game model and one for the lobby model
  src/chigame/games/models.py
Labels: x/game-management

#282 Implemented restricted versions of edit and delete views for lobbies
  src/chigame/games/forms.py
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/games/lobby_confirm_delete.html
  src/templates/games/lobby_details.html
  src/templates/games/lobby_form.html
Labels: x/matches

#277 Implemented create button for lobbies
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/base.html
  src/templates/games/lobby_list.html
Labels: x/matches

#278 Unit tests for Notification model
  src/chigame/users/tests/factories.py
  src/chigame/users/tests/test_models.py
Labels: x/user-profiles-friending

#272 Integrated nav bar with forums page
  src/config/settings/base.py
  src/templates/base.html
  src/templates/forum/board_base.html
Labels: x/forums

#285 Tournaments/implement frontend create delete message in chat page
  src/chigame/games/fixtures/tournaments-chat-fixture.json
  src/static/js/getChatUpdate.js
  src/static/js/sendMessage.js
  src/templates/tournaments/tournament_chat.html
Labels: x/tournaments
