Repository uchicago-cs/chigame, pull requests merged in 2023-12, with the labels that each got.

#247 Update tournament models to allow registration period and archive features
  src/chigame/api/tests/factories.py
  src/chigame/games/migrations/0016_update_tournaments_2.py
  src/chigame/games/models.py
  src/chigame/games/views.py
  src/static/css/tournament_styles.css
  src/static/images/tournaments_icons/Archived_icon.png
  src/static/images/tournaments_icons/Unarchived_icon.png
  src/templates/tournaments/tournament_detail.html
  src/templates/tournaments/tournament_list.html
Labels: x/tournaments

#348 Added Support for Pagination to API endpoints supporting List views
  src/chigame/api/views.py
  src/config/settings/base.py
Labels: enhancement, x/api

#356 Fixed search bar by renaming query to query-input
  src/chigame/games/views.py
  src/chigame/users/views.py
  src/templates/base.html
Labels: bug, x/game-management

#342 Added whoosh search backend and realtime indexing
  .gitignore
  requirements/base.txt
  src/config/settings/base.py
Labels: dependencies, x/forums

#309 Integrated forum search into search dropdown menu
  src/chigame/games/views.py
  src/chigame/users/views.py
  src/templates/base.html
  src/templates/forum/board_base.html
Labels: x/forums

#343 Add Factory for Lobby Model in Django Tests
  src/chigame/api/tests/factories.py
Labels: enhancement, x/api

#331 Implement Chat Feed API and Frontend Chat Feed Features
  src/chigame/api/serializers.py
  src/chigame/api/tests/test_api.py
  src/chigame/api/urls.py
  src/chigame/api/views.py
  src/chigame/games/fixtures/tournaments-chat-fixture.json
  src/chigame/games/fixtures/tournaments-chat-general.json
  src/chigame/games/views.py
  src/static/js/getChatUpdate.js
  src/templates/tournaments/tournament_chat.html
Labels: x/tournaments

#196 BGG Autofilling Working on Create Pages
  .gitignore
  src/chigame/games/apps.py
  src/chigame/games/models.py
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/games/game_form.html
Labels: x/game-management

#392 Bug with sorting and filtering
  src/chigame/games/views.py
  src/templates/games/game_grid.html
Labels: bug, x/game-management

#345 Integration of Placeholder Game + Match Start Conditions Implemented
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/games/game_coinresult.html
  src/templates/games/lobby_details.html
Labels: x/matches

#321 Added ability for `username` to act as identifier for API user detail endpoint in addition to primary key (`/api/users/<userID>` OR `/api/users/<username>`)
  src/chigame/api/urls.py
  src/chigame/api/views.py
Labels: x/api

#274 Updated models, made review entity
  src/chigame/games/migrations/0014_review.py
  src/chigame/games/migrations/0015_merge_20231126_1835.py
  src/chigame/games/migrations/0016_review_is_public_alter_review_rating.py
  src/chigame/games/migrations/0017_merge_20231127_2228.py
  src/chigame/games/migrations/0018_review_created_at_review_title.py
  src/chigame/games/migrations/0019_alter_review_rating.py
  src/chigame/games/migrations/0020_merge_20231204_1517.py
  src/chigame/games/models.py
Labels: enhancement, x/game-management

#411 Bug Fix: Pages numbers not displaying
  src/templates/games/game_grid.html
Labels: bug

#290 Updated Filtering Capabilities for Game List API Endpoint with Updated Game Model Attributes
  src/chigame/api/filters.py
Labels: x/api

#410 Forum landing page template hotfix
  src/templates/forum/board_base.html
Labels: bug, x/forums

#328 Create the Registration Deadline Feature for the Tournaments
  src/chigame/games/models.py
  src/chigame/games/views.py
  src/templates/tournaments/tournament_detail.html
  src/templates/tournaments/tournament_list.html
Labels: x/tournaments

#357 Adding a friend list to user profiles where each friend links to the friend's profile page
  src/chigame/users/tables.py
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/templates/users/user_friend_list.html
  src/templates/users/userprofile_detail.html
Labels: x/user-profiles-friending

#337 Fixed the bug in NotificationQuerySet.get_by_actor() and added tests
  src/chigame/users/models.py
  src/chigame/users/tests/test_models.py
Labels: bug, x/user-profiles-friending

#363 Allows users to perform bulk actions on notifications via checkboxes
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/templates/users/user_inbox.html
Labels: x/user-profiles-friending

#346 Add functionality to create a new chat when a tournament is created
  src/chigame/games/views.py
  src/templates/tournaments/tournament_chat.html
  src/templates/tournaments/tournament_detail.html
  src/templates/tournaments/tournament_list.html
Labels: x/tournaments

#358 Forum Advanced Search Integration
  src/templates/base.html
Labels: x/forums

#275 Made a button to make/view reviews in game detail page
  src/chigame/games/forms.py
  src/chigame/games/migrations/0021_alter_tournament_matches.py
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/chigame/users/migrations/0005_alter_user_username.py
  src/templates/games/game_detail.html
  src/templates/games/game_reviews.html
Labels: enhancement, x/game-management

#368 Search Bar Styling and Optimization
  src/templates/base.html
Labels: x/forums

#376 Admin user and regular user view tests
  src/chigame/users/tests/test_views.py
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/templates/users/user_detail.html
Labels: x/user-profiles-friending

#341 Add 'Like' Functionality to Forum Posts
  src/chigame/forums/base/__init__.py
  src/chigame/forums/base/admin.py
  src/chigame/forums/base/apps.py
  src/chigame/forums/base/migrations/__init__.py
  src/chigame/forums/base/models.py
  src/chigame/forums/base/tests.py
  src/chigame/forums/base/urls.py
  src/chigame/forums/base/views.py
  src/chigame/forums/forum_conversation/__init__.py
  src/chigame/forums/forum_conversation/admin.py
  src/chigame/forums/forum_conversation/apps.py
  src/chigame/forums/forum_conversation/migrations/0001_initial.py
  src/chigame/forums/forum_conversation/migrations/0002_post_anonymous_key.py
  src/chigame/forums/forum_conversation/migrations/0003_auto_20160228_2051.py
  src/chigame/forums/forum_conversation/migrations/0004_auto_20160427_0502.py
  src/chigame/forums/forum_conversation/migrations/0005_auto_20160607_0455.py
  src/chigame/forums/forum_conversation/migrations/0006_post_enable_signature.py
  src/chigame/forums/forum_conversation/migrations/0007_auto_20160903_0450.py
  src/chigame/forums/forum_conversation/migrations/0008_auto_20160903_0512.py
  src/chigame/forums/forum_conversation/migrations/0009_auto_20160925_2126.py
  src/chigame/forums/forum_conversation/migrations/0010_auto_20170120_0224.py
  src/chigame/forums/forum_conversation/migrations/0011_remove_post_poster_ip.py
  src/chigame/forums/forum_conversation/migrations/0012_auto_20200423_1049.py
  src/chigame/forums/forum_conversation/migrations/0013_auto_20201220_1745.py
  src/chigame/forums/forum_conversation/migrations/0014_alter_post_id_alter_topic_id.py
  src/chigame/forums/forum_conversation/migrations/0015_post_like_counter.py
  src/chigame/forums/forum_conversation/migrations/0016_remove_post_like_counter.py
  src/chigame/forums/forum_conversation/migrations/0017_vote.py
  src/chigame/forums/forum_conversation/migrations/0018_post_ratings_vote_post_vote_poster.py
  src/chigame/forums/forum_conversation/migrations/0019_vote_unique_rating.py
  src/chigame/forums/forum_conversation/migrations/__init__.py
  src/chigame/forums/forum_conversation/models.py
  src/chigame/forums/forum_conversation/tests.py
  src/chigame/forums/forum_conversation/views.py
  src/config/settings/base.py
  src/config/urls.py
  src/templates/forum_conversation/topic_detail.html
Labels: x/forums

#414 Added default forum user permissions
  src/config/settings/base.py
Labels: x/forums

#365 Displaying Historical Information on a user view
  src/chigame/users/views.py
  src/templates/users/user_history.html
  src/templates/users/userprofile_detail.html
Labels: x/user-profiles-friending

#375 Created API Endpoints to GET List of Users from User Group and vice versa
  src/chigame/api/serializers.py
  src/chigame/api/urls.py
  src/chigame/api/views.py
Labels: x/api

#366 Using the current search bar implementation to search notifications based on message
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/templates/base.html
  src/templates/pages/search_results.html
  src/templates/users/user_inbox.html
Labels: x/user-profiles-friending

#395 Add new styles for forum creation page
  src/chigame/forums/base/forms.py
  src/chigame/forums/base/views.py
  src/config/settings/base.py
  src/static/css/forums/forum_form.css
  src/templates/forum/forum_form.html
Labels: x/forums

#374 Create API Endpoint: GET/POST List of Groups + Detail View of User Groups
  src/chigame/api/urls.py
  src/chigame/api/views.py
Labels: x/api

#388 Styling the Forum Vote Buttons
  src/templates/forum_conversation/topic_detail.html
Labels: x/forums

#265 Enhancements to Tournament Creation and Editing for Non-Staff Users
  src/chigame/games/migrations/0022_tournament_created_by.py
  src/chigame/games/models.py
  src/chigame/games/views.py
  src/templates/tournaments/tournament_detail.html
  src/templates/tournaments/tournament_list.html
Labels: x/tournaments

#336 Added tests for getting game lists using serializers and the api-game…
  src/chigame/api/tests/test_api.py
Labels: x/api

#340 Implementing test cases to POST and PATCH user models at the api/users endpoint
  src/chigame/api/tests/factories.py
  src/chigame/api/tests/test_api.py
Labels: enhancement, x/api
