Repository uchicago-cs/chigame, pull requests merged in 2023-10, with the labels that each got.

#67 (game management) Created list view for Games
  src/chigame/games/migrations/0001_games_initial.py
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/chigame/users/migrations/0002_games_initial.py
  src/config/urls.py
  src/templates/games/game_list.html
Labels: enhancement, x/game-management

#69 (game management) Registered all models in games/models.py with admin page
  src/chigame/games/admin.py
  src/chigame/games/models.py
Labels: x/game-management

#71 (game management) Created game detail page view and template for Games
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/games/game_detail.html
  src/templates/games/game_list.html
Labels: enhancement, x/game-management

#78 (user profiles) Create user profile page that displays relevant information
  src/chigame/users/admin.py
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/templates/base.html
  src/templates/users/userprofile_detail.html
Labels: x/user-profiles-friending

#72 (game management) Created basic edit view and create view for Games
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/games/game_detail.html
  src/templates/games/game_form.html
Labels: enhancement, x/game-management
