Repository uchicago-cs/chigame, pull requests merged in 2025-04, with the labels that each got.

#522 [livechat] Added LiveChat models to models.py
  src/chigame/games/migrations/0023_livechat_livechatuser_livechatmessage.py
  src/chigame/games/models.py
Labels: x/live-chat

#519 [Knowledge Base] Implementing a markdown sandbox
  requirements/local.txt
  src/sandbox/markdown-demo/README.md
  src/sandbox/markdown-demo/manage.py
  src/sandbox/markdown-demo/md_app/__init__.py
  src/sandbox/markdown-demo/md_app/admin.py
  src/sandbox/markdown-demo/md_app/apps.py
  src/sandbox/markdown-demo/md_app/models.py
  src/sandbox/markdown-demo/md_app/static/css/index.css
  src/sandbox/markdown-demo/md_app/static/js/md_app.js
  src/sandbox/markdown-demo/md_app/templates/md_app/markdown_content.html
  src/sandbox/markdown-demo/md_app/views.py
  src/sandbox/markdown-demo/md_testing/__init__.py
  src/sandbox/markdown-demo/md_testing/asgi.py
  src/sandbox/markdown-demo/md_testing/settings.py
  src/sandbox/markdown-demo/md_testing/urls.py
  src/sandbox/markdown-demo/md_testing/wsgi.py
Labels: x/knowledge-base

#546 [knowledge-base] startapp & add data models
  src/chigame/games/migrations/0023_game_published_guide_id.py
  src/chigame/games/migrations/0024_merge_20250428_1822.py
  src/chigame/games/migrations/0025_alter_livechat_channel.py
  src/chigame/games/models.py
  src/chigame/knowledge_base/__init__.py
  src/chigame/knowledge_base/admin.py
  src/chigame/knowledge_base/apps.py
  src/chigame/knowledge_base/migrations/0001_initial.py
  src/chigame/knowledge_base/migrations/0002_alter_like_unique_together_remove_like_guide_id_and_more.py
  src/chigame/knowledge_base/migrations/__init__.py
  src/chigame/knowledge_base/models.py
  src/chigame/knowledge_base/tests.py
  src/chigame/knowledge_base/views.py
  src/chigame/users/migrations/0006_user_moderator.py
  src/chigame/users/models.py
  src/config/settings/base.py
Labels: x/knowledge-base

#524 [User Profiles + Friending] Add uniqueness constraint for notifications
  src/chigame/users/models.py
Labels: x/user-profiles-friending

#557 [User Profiles + Friending] Fixed Removing Friend Logic Bug
  src/chigame/users/migrations/0006_friendinvitation_is_deleted.py
  src/chigame/users/migrations/0007_merge_20250429_0811.py
  src/chigame/users/models.py
  src/chigame/users/views.py
Labels: bug

#578 [requirements] add daphne package for ASGI support
  requirements/base.txt
Labels: dependencies, x/live-chat

#581 Live chat/django channels setup (created new chat app within project)
  src/chigame/chat/__init__.py
  src/chigame/chat/admin.py
  src/chigame/chat/apps.py
  src/chigame/chat/migrations/__init__.py
  src/chigame/chat/models.py
  src/chigame/chat/tests.py
  src/chigame/chat/views.py
Labels: enhancement, dependencies, x/live-chat

#636 [games] Add UI capabilities to access users’ favorite games list
  src/chigame/games/migrations/0023_gamelist.py
  src/chigame/games/migrations/0024_merge_20250428_2111.py
  src/chigame/games/migrations/0026_merge_20250430_1102.py
  src/chigame/games/models.py
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/chigame/users/apps.py
  src/chigame/users/signals.py
  src/templates/games/favorites_list.html
  src/templates/games/game_detail.html
  src/templates/games/game_grid.html
Labels: enhancement, x/game-management

#573 [games] Added default favorites GameList, so all users can keep track of a favorite list of games
  src/chigame/games/migrations/0024_merge_20250428_2051.py
  src/chigame/games/migrations/0026_merge_20250430_1104.py
  src/chigame/games/migrations/0027_merge_20250430_1134.py
Labels: enhancement, x/game-management
