Repository uchicago-cs/chigame, pull requests merged in 2025-05, with the labels that each got.

#542 Added checkers game board to Sandbox
  src/sandbox/checkers-prototype/css/style.css
  src/sandbox/checkers-prototype/game.js
  src/sandbox/checkers-prototype/index.html
Labels: x/game/checkers

#467 Added live chat/demo chat with channels
  src/sandbox/live-chat-demo/.gitignore
  src/sandbox/live-chat-demo/chatdemo/chat/__init__.py
  src/sandbox/live-chat-demo/chatdemo/chat/admin.py
  src/sandbox/live-chat-demo/chatdemo/chat/apps.py
  src/sandbox/live-chat-demo/chatdemo/chat/consumers.py
  src/sandbox/live-chat-demo/chatdemo/chat/migrations/__init__.py
  src/sandbox/live-chat-demo/chatdemo/chat/models.py
  src/sandbox/live-chat-demo/chatdemo/chat/routing.py
  src/sandbox/live-chat-demo/chatdemo/chat/templates/chat/LoginPage.html
  src/sandbox/live-chat-demo/chatdemo/chat/templates/chat/chatPage.html
  src/sandbox/live-chat-demo/chatdemo/chat/tests.py
  src/sandbox/live-chat-demo/chatdemo/chat/urls.py
  src/sandbox/live-chat-demo/chatdemo/chat/views.py
  src/sandbox/live-chat-demo/chatdemo/chatdemo/__init__.py
  src/sandbox/live-chat-demo/chatdemo/chatdemo/asgi.py
  src/sandbox/live-chat-demo/chatdemo/chatdemo/settings.py
  src/sandbox/live-chat-demo/chatdemo/chatdemo/urls.py
  src/sandbox/live-chat-demo/chatdemo/chatdemo/wsgi.py
  src/sandbox/live-chat-demo/chatdemo/manage.py
Labels: enhancement, x/live-chat

#543 Created achievements directory and models.py
  src/chigame/achievements/models.py
Labels: x/achievements

#646 [Forums] Implement a forum landing page for unauthenticated users
  src/chigame/forums/middleware.py
  src/config/settings/base.py
  src/templates/forum/board_base.html
  src/templates/forum/index.html
Labels: enhancement

#502 Fix legacy bug using text property for input in tournament creation #445
  src/templates/tournaments/tournament_create.html
Labels: enhancement

#654 [knowledge-base] Implementing routing and basic page layouts
  src/chigame/knowledge_base/urls.py
  src/chigame/knowledge_base/views.py
  src/config/urls.py
  src/static/css/knowledge-base-styles.css
  src/templates/base.html
  src/templates/knowledge-base/base.html
  src/templates/knowledge-base/contributor.html
  src/templates/knowledge-base/landing.html
  src/templates/knowledge-base/moderator.html
Labels: x/knowledge-base

#569 [Frontend] Create Homepage Hero Section
  src/static/css/homepage.css
  src/templates/pages/home.html
Labels: x/frontend

#468 [API] Implemented API endpoints for getting and posting Game Reviews
  src/chigame/api/serializers.py
  src/chigame/api/urls.py
  src/chigame/api/views.py
Labels: x/api

#679 [leaderboards] creating the repository for leaderboard work
  src/chigame/leaderboards/models.py
  src/chigame/leaderboards/views.py
Labels: x/leaderboards

#558 [Frontend] Create Website Footer
  src/static/css/base.css
  src/templates/base.html
Labels: x/frontend

#554 [Frontend] Blocked out homepage layout
  src/static/css/base.css
  src/static/css/homepage.css
  src/templates/base.html
  src/templates/pages/home.html
Labels: x/frontend

#700 [games] Added a way to add any game to a list of game lists the user has, besides just the Favorites game list.
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/games/game_detail.html
Labels: x/game-management

#472 [API] Implemented DELETE and PATCH test cases for Lobby API Endpoints
  requirements/production.txt
  src/chigame/api/tests/factories.py
  src/chigame/api/tests/test_api.py
  src/chigame/api/views.py
Labels: x/api

#572 Add visual star-based rating display
  src/chigame/games/views.py
  src/templates/games/game_grid.html
Labels: x/game-management

#652 [LiveChat] Migrated LiveChat models from games to chat
  src/chigame/chat/apps.py
  src/chigame/chat/migrations/0001_initial.py
  src/chigame/chat/models.py
  src/chigame/games/migrations/0028_remove_livechatmessage_live_chat_id_and_more.py
  src/chigame/games/models.py
  src/chigame/users/migrations/0008_alter_notification_type_and_more.py
  src/chigame/users/migrations/0010_merge_20250505_1653.py
  src/config/settings/base.py
Labels: enhancement, x/live-chat

#651 [LiveChat] Perform chat app channels configuration
  src/chigame/chat/admin.py
  src/chigame/chat/asgi.py
  src/chigame/chat/consumers.py
  src/chigame/chat/migrations/__init__.py
  src/chigame/chat/routing.py
  src/chigame/chat/tests.py
  src/chigame/chat/urls.py
  src/chigame/chat/views.py
  src/chigame/users/migrations/0008_alter_notification_type_and_more.py
  src/chigame/users/migrations/0010_merge_20250505_1655.py
  src/chigame/users/migrations/0011_merge_20250505_1715.py
  src/config/asgi.py
  src/config/settings/base.py
  src/config/urls.py
  src/templates/chat/index.html
Labels: enhancement, x/live-chat

#650 [achivements] Adding visual-mockup HTMLand trophy icons to sandbox
  src/sandbox/achievement-mockup/common.png
  src/sandbox/achievement-mockup/precious.png
  src/sandbox/achievement-mockup/rare.png
  src/sandbox/achievement-mockup/uncommon.png
  src/sandbox/achievement-mockup/user-achievements-page.html
Labels: x/achievements

#563 [API] Restrict game creation to authenticated users
  src/chigame/api/views.py
Labels: x/api

#574 [Frontend] 'Trending Games' Carousel
  src/static/images/games/checkers.png
  src/static/images/games/management.png
  src/static/images/games/reversi.png
  src/static/images/games/wordgame.png
  src/static/machina/custom-styling.css
  src/templates/base.html
  src/templates/pages/home.html
Labels: enhancement

#570 [knowledge-base] multi-page markdown rendering
  src/sandbox/markdown-demo/md_app/markdown_extensions.py
  src/sandbox/markdown-demo/md_app/templates/base.html
  src/sandbox/markdown-demo/md_app/templates/md_app/markdown_content.html
  src/sandbox/markdown-demo/md_app/views.py
Labels: x/knowledge-base

#744 Live chat/component base
  src/chigame/chat/consumers.py
  src/chigame/chat/models.py
  src/chigame/chat/routing.py
  src/chigame/chat/urls.py
  src/chigame/chat/views.py
  src/sandbox/live-chat-demo/chatdemo/chat/templates/chat/chatPage.html
  src/templates/chat/components/_header.html
  src/templates/chat/components/_input.html
  src/templates/chat/components/_script.html
  src/templates/chat/index.html
Labels: enhancement, x/live-chat

#672 Made checkers pieces selectable, moveable, and capturable
  src/sandbox/checkers-prototype/game.js
Labels: x/game/checkers

#682 [achievements] added new models and updated existing ones
  src/chigame/achievements/models.py
Labels: x/achievements

#743 [Adding games: Checkers] Adding games/reformat frontend
  src/sandbox/checkers-prototype/css/style.css
  src/sandbox/checkers-prototype/index.html
Labels: x/game/checkers

#667 [achievements] Add necessary files to achievements directory
  src/chigame/achievements/__init__.py
  src/chigame/achievements/admin.py
  src/chigame/achievements/apps.py
  src/chigame/achievements/migrations/0001_initial.py
  src/chigame/achievements/migrations/0002_achievement_threshold_userachievement_progress_and_more.py
  src/chigame/achievements/migrations/__init__.py
  src/chigame/achievements/tests.py
  src/chigame/achievements/views.py
  src/config/settings/base.py
Labels: x/achievements

#717 [API] Implementation of Review Detail View for deleting and patching reviews
  src/chigame/api/serializers.py
  src/chigame/api/urls.py
  src/chigame/api/views.py
Labels: x/api

#756 [knowledge-base] Create Fixture with Dummy Data
  src/chigame/knowledge_base/fixtures/README.md
  src/chigame/knowledge_base/fixtures/kb_feedbacks_data.json
  src/chigame/knowledge_base/fixtures/kb_guides_data.json
  src/chigame/knowledge_base/fixtures/kb_user_game_data.json
  src/chigame/knowledge_base/migrations/0003_alter_guide_favorites_alter_guide_likes_and_more.py
  src/chigame/knowledge_base/models.py
Labels: x/knowledge-base

#757 [frontend] Fix carousel alignment issues
  src/static/css/carousel.css
  src/templates/base.html
  src/templates/pages/home.html
Labels: x/frontend

#473 [api] Added multi-value filtering to game list endpoint
  src/chigame/api/filters.py
Labels: x/api

#696 Add Django models for ERD
  src/chigame/leaderboards/models.py
Labels: x/leaderboards

#766 [Inbox + Notifications] Creating notification labelling system
  src/chigame/users/migrations/0006_remove_userprofile_friends_user_friends_and_more.py
  src/chigame/users/migrations/0006_user_moderator.py
  src/chigame/users/migrations/0007_merge_20250429_0811.py
  src/chigame/users/migrations/0007_remove_userprofile_friends_and_more.py
  src/chigame/users/migrations/0008_alter_notification_type_and_more.py
  src/chigame/users/migrations/0008_merge_20250504_2127.py
  src/chigame/users/migrations/0009_alter_friendinvitation_unique_together_and_more.py
  src/chigame/users/migrations/0010_merge_20250505_1653.py
  src/chigame/users/migrations/0010_merge_20250505_1655.py
  src/chigame/users/migrations/0011_merge_20250505_1715.py
  src/chigame/users/models.py
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/templates/users/user_inbox.html
Labels: enhancement, x/user-profiles-friending

#649 [User Profiles + Friending] Fix pending friend request status after removing friend
  src/chigame/users/migrations/0007_remove_userprofile_friends_and_more.py
  src/chigame/users/models.py
  src/chigame/users/views.py
Labels: bug, x/user-profiles-friending

#689 [User Profiles + Friending] Allow users to bookmark notification
  src/chigame/users/migrations/0007_remove_userprofile_friends_and_more.py
  src/chigame/users/models.py
  src/chigame/users/urls.py
  src/chigame/users/views.py
Labels: x/user-profiles-friending

#751 [Knowledge Base] Created white-label mode for guides
  src/chigame/forums/forum_conversation/migrations/0001_initial.py
  src/chigame/forums/forum_conversation/migrations/0002_post_anonymous_key.py
  src/chigame/forums/forum_conversation/migrations/0003_auto_20160228_2051.py
  src/chigame/forums/forum_conversation/migrations/0004_auto_20160427_0502.py
  src/chigame/forums/forum_conversation/migrations/0005_auto_20160607_0455.py
  src/chigame/forums/forum_conversation/migrations/0006_post_enable_signature.py
  src/chigame/forums/forum_conversation/migrations/0007_auto_20160903_0450.py
  src/chigame/forums/forum_conversation/migrations/0008_auto_20160903_0512.py
  src/chigame/forums/forum_conversation/migrations/0009_auto_20160925_2126.py
  src/chigame/forums/forum_conversation/migrations/0010_auto_20170120_0224.py
  src/chigame/forums/forum_conversation/migrations/0011_remove_post_poster_ip.py
  src/chigame/forums/forum_conversation/migrations/0012_auto_20200423_1049.py
  src/chigame/forums/forum_conversation/migrations/0013_auto_20201220_1745.py
  src/chigame/games/migrations/0002_initial.py
  src/chigame/games/migrations/0023_livechat_livechatuser_livechatmessage.py
  src/chigame/users/migrations/0006_friendinvitation_is_deleted.py
  src/sandbox/markdown-demo/md_app/templates/md_app/minimal_content.html
  src/sandbox/markdown-demo/md_app/urls.py
  src/sandbox/markdown-demo/md_app/views.py
Labels: x/knowledge-base

#759 [frontend] Converted Footer from Django to Vue
  frontend/vue/src/App.vue
  frontend/vue/src/components/Footer.vue
Labels: x/frontend

#778 [knowledge-base] Add Viewer Landing Page Backend
  src/chigame/knowledge_base/urls.py
  src/chigame/knowledge_base/views.py
  src/static/css/knowledge-base-styles.css
  src/templates/knowledge-base/base.html
  src/templates/knowledge-base/landing.html
Labels: x/knowledge-base

#761 [frontend] Convert homepage from Django to Vue
  frontend/vue/src/pages/HomePage.vue
Labels: x/frontend

#763 [frontend] Convert navbar logo to button
  frontend/vue/src/components/NavBar.vue
Labels: x/frontend

#483 Added popularity (number of reviews) and average rating metrics to the grid of games and game details pages
  src/chigame/games/models.py
  src/chigame/games/views.py
  src/templates/games/game_detail.html
Labels: x/game-management

#780 [knowledge-base] Add Contributor Upload Form Backend
  src/chigame/knowledge_base/forms.py
  src/chigame/knowledge_base/urls.py
  src/chigame/knowledge_base/views.py
  src/templates/knowledge-base/contributor_upload.html
Labels: x/knowledge-base

#767 [Knowledge Base] Sanitize incoming markdown content
  src/sandbox/markdown-demo/md_app/markdown_extensions.py
  src/sandbox/markdown-demo/md_app/static/css/index.css
  src/sandbox/markdown-demo/md_app/templates/base.html
  src/sandbox/markdown-demo/md_app/templates/md_app/markdown_content.html
  src/sandbox/markdown-demo/md_app/views.py
Labels: x/knowledge-base

#779 [knowledge-base] Add Backend Moderator Pending Guide List Page
  src/chigame/knowledge_base/urls.py
  src/chigame/knowledge_base/views.py
  src/templates/knowledge-base/moderator.html
  src/templates/knowledge-base/moderator_pending_guides.html
Labels: x/knowledge-base

#819 [knowledge-base] Add Contributor Manage Guide Backend
  src/chigame/knowledge_base/models.py
  src/chigame/knowledge_base/urls.py
  src/chigame/knowledge_base/views.py
  src/static/css/knowledge-base-styles.css
  src/templates/knowledge-base/base.html
  src/templates/knowledge-base/contributor.html
  src/templates/knowledge-base/contributor_manage_guide.html
  src/templates/knowledge-base/feedback_detail.html
  src/templates/knowledge-base/landing.html
Labels: x/knowledge-base

#830 [Knowledge Base] Implement contributor markdown upload frontend
  src/chigame/knowledge_base/forms.py
  src/chigame/knowledge_base/views.py
  src/static/css/knowledge-base-styles.css
  src/static/css/knowledge-base/guide-upload.css
  src/static/js/knowledge-base/markdown-upload.js
  src/templates/knowledge-base/base.html
  src/templates/knowledge-base/contributor_upload.html
  src/templates/knowledge-base/landing.html
Labels: x/knowledge-base

#770 Live chat/component base improved docs
  src/chigame/chat/consumers.py
  src/chigame/chat/routing.py
  src/templates/chat/components/_header.html
  src/templates/chat/components/_script.html
Labels: enhancement, x/live-chat

#690 [Adding Games - Checkers] Adding forfeit and draw to checkers prototype
  src/sandbox/checkers-prototype/css/style.css
  src/sandbox/checkers-prototype/game.js
  src/sandbox/checkers-prototype/index.html
Labels: x/game/checkers

#768 [achievements] Adds users to games upon match save
  src/chigame/achievements/tests.py
  src/chigame/achievements/tests/__init__.py
  src/chigame/achievements/tests/factories.py
  src/chigame/achievements/tests/tests.py
  src/chigame/games/migrations/0028_game_users.py
  src/chigame/games/migrations/0029_merge_20250507_1534.py
  src/chigame/games/models.py
Labels: x/achievements

#797 Live chat/add chat history
  src/chigame/chat/views.py
  src/templates/chat/components/_header.html
  src/templates/chat/components/_input.html
  src/templates/chat/components/_messages.html
  src/templates/chat/components/_script.html
  src/templates/chat/index.html
Labels: enhancement, x/live-chat

#788 [Live Chat] Added validator for reaction to validate (single emoji)
  src/chigame/chat/models.py
  src/chigame/chat/validators.py
Labels: enhancement, x/live-chat

#771 Live chat/protect chat by which members are present
  src/chigame/chat/consumers.py
Labels: enhancement, x/live-chat

#841 [api] Add pagination docstring and test for /api/games
  src/chigame/api/tests/test_api.py
  src/chigame/api/views.py
Labels: x/api

#815 [Interactive fiction] Twine storage importation in game base
  requirements/production.txt
  src/chigame/api/tests/factories.py
  src/chigame/games/migrations/0029_game_twine_file.py
  src/chigame/games/migrations/0030_remove_game_twine_file.py
  src/chigame/games/migrations/0031_game_twine_file.py
  src/chigame/games/migrations/0032_alter_review_game.py
  src/chigame/games/migrations/0033_merge_0029_merge_20250507_1534_0032_alter_review_game.py
  src/chigame/games/models.py
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/games/game_detail.html
Labels: x/interactivefiction

#806 Add a settings menu to checkers
  src/sandbox/checkers-prototype/css/style.css
  src/sandbox/checkers-prototype/game.js
  src/sandbox/checkers-prototype/index.html
Labels: x/game/checkers

#820 [Interactive-Fiction] Adding Non-Functional IF Create Template
  docs/developer/guidelines.md
  src/chigame/achievements/migrations/0001_initial.py
  src/chigame/achievements/migrations/0002_achievement_threshold_userachievement_progress_and_more.py
  src/chigame/games/forms.py
  src/chigame/games/migrations/0029_interactivefictiongame.py
  src/chigame/games/migrations/0030_merge_20250512_1728.py
  src/chigame/games/migrations/0034_merge_20250512_1731.py
  src/chigame/games/models.py
  src/chigame/games/views.py
  src/templates/games/interactive-fiction/IF_game_create.html
Labels: x/interactivefiction

#799 [Games - Checkers] Add Replay to Checkers Prototype
  src/sandbox/checkers-prototype/css/style.css
  src/sandbox/checkers-prototype/game.js
  src/sandbox/checkers-prototype/index.html
Labels: x/game/checkers

#807 Add a button to settings to change the color of pieces
  src/sandbox/checkers-prototype/game.js
  src/sandbox/checkers-prototype/index.html
Labels: x/game/checkers

#900 [Knowledge-Base] Re-Add Contributor "My Guides" Table Page
  src/chigame/knowledge_base/urls.py
  src/templates/knowledge-base/base.html
  src/templates/knowledge-base/contributor_manage_guide.html
Labels: x/knowledge-base

#777 [Leaderboards] Updating Django Models and Addressing Comments
  src/chigame/leaderboards/models.py
Labels: x/leaderboards

#774 [User Profiles + Friending] Add Profile Photo to User Profile
  src/chigame/users/migrations/0007_remove_userprofile_friends_and_more.py
  src/chigame/users/models.py
  src/chigame/users/urls.py
  src/chigame/users/views.py
Labels: enhancement

#836 [User Profiles + Friending] Implemented Random Username Generation + Improved Profile/Account Pages
  src/chigame/users/forms.py
  src/chigame/users/migrations/0008_remove_userprofile_display_name.py
  src/chigame/users/models.py
  src/chigame/users/tests/test_urls.py
  src/chigame/users/tests/test_views.py
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/templates/users/user_detail.html
  src/templates/users/userprofile_detail.html
Labels: enhancement, x/user-profiles-friending

#462 Implement mutual friendship relationship between two User instances
  src/chigame/users/migrations/0007_remove_userprofile_friends_and_more.py
  src/chigame/users/migrations/0009_notification_bookmarked_notification_category_and_more.py
  src/chigame/users/models.py
  src/chigame/users/views.py
Labels: x/user-profiles-friending

#547 [Tournament] Create Feedback entity and associate it with Tournament entity
  src/chigame/games/migrations/0023_feedback.py
  src/chigame/games/migrations/0028_merge_0023_feedback_0027_merge_20250430_1134.py
  src/chigame/games/migrations/0029_merge_20250505_2335.py
  src/chigame/games/migrations/0030_merge_20250512_1728.py
  src/chigame/games/migrations/0031_alter_feedback_user_alter_review_game.py
  src/chigame/games/migrations/0035_merge_20250513_1435.py
  src/chigame/games/models.py
Labels: x/tournaments

#929 [knowledge-base] Backend for pending guide review page
  src/chigame/knowledge_base/urls.py
  src/chigame/knowledge_base/views.py
  src/static/css/knowledge-base-styles.css
  src/templates/knowledge-base/moderator_pending_guides.html
  src/templates/knowledge-base/moderator_review_guide.html
Labels: x/knowledge-base

#925 [knowledge-base] Implement Single Guide Backend 1 (Normal Backend)
  src/chigame/knowledge_base/urls.py
  src/chigame/knowledge_base/views.py
  src/templates/knowledge-base/guide_detail.html
  src/templates/knowledge-base/landing.html
Labels: x/knowledge-base

#965 [Word Game] Created list of achievements
  src/sandbox/words-game/achievements.js
Labels: x/game/words

#955 [knowledge-base] Re-added Download option to Contributor guides page
  src/templates/knowledge-base/base.html
  src/templates/knowledge-base/contributor_manage_guide.html
Labels: x/knowledge-base

#878 [API] Implementation of Achievement Creation Endpoint
  src/chigame/api/serializers.py
  src/chigame/api/urls.py
  src/chigame/api/views.py
Labels: x/api

#822 [API] Add spam filtering mechanism for reviews/messages
  src/chigame/api/spam_utils.py
  src/chigame/api/tests/test_api.py
  src/chigame/api/views.py
Labels: x/api

#888 [API] Finished Implementation of User Achievement Creation endpoint
  src/chigame/api/serializers.py
  src/chigame/api/urls.py
  src/chigame/api/views.py
Labels: x/api

#901 [Leaderboards] Add core model tests
  src/chigame/leaderboards/tests/__init__.py
  src/chigame/leaderboards/tests/factories.py
  src/chigame/leaderboards/tests/test_models.py
Labels: x/leaderboards

#993 [Word game] Creating URL for Word Game on Chigame and Embedding it
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/templates/games/wordle.html
Labels: x/game/words

#914 [Notifications] Implement notification pop-up interface based on prototype
  src/chigame/users/context_processors.py
  src/config/settings/base.py
  src/static/css/notifications.css
  src/static/js/notifications.js
  src/templates/base.html
  src/templates/pages/home.html
Labels: enhancement, x/user-profiles-friending, x/frontend

#887 [API] Implementation of Achievement List View endpoint
  src/chigame/api/urls.py
  src/chigame/api/views.py
Labels: x/api

#916 [Notifications] Organize notifications by label into sections in Inbox
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/static/css/notifications.css
  src/templates/users/user_inbox.html
Labels: enhancement, x/user-profiles-friending

#1007 [API] Enforce authentication on POST requests for lobbies and chat messages
  src/chigame/api/tests/test_api.py
  src/chigame/api/views.py
Labels: x/api

#943 [achievements] added demo game template, url, and view
  src/chigame/achievements/urls.py
  src/chigame/achievements/views.py
  src/config/urls.py
  src/templates/achievements/demo_game.html
Labels: x/achievements

#954 [knowledge-base] Added redirect functionality to Contributor Upload Form
  src/chigame/knowledge_base/views.py
Labels: x/knowledge-base

#932 [knowledge-base] Normal User Landing Page
  src/templates/knowledge-base/base.html
  src/templates/knowledge-base/landing.html
Labels: x/knowledge-base

#824 [API] Add unit tests for spam filtering in review submission
  src/chigame/api/serializers.py
  src/chigame/api/tests/test_api.py
  src/chigame/api/views.py
Labels: x/api

#1028 [Word game] Game Page UI redesign
  src/sandbox/words-game/game.css
  src/sandbox/words-game/game.html
  src/sandbox/words-game/solo.html
Labels: enhancement, x/game/words

#1035 Word game cleanup
  src/sandbox/words-game/game.html
  src/sandbox/words-game/game.js
  src/sandbox/words-game/index.html
  src/sandbox/words-game/solo.html
  src/sandbox/words-game/solo.js
Labels: x/game/words

#1043 [knowledge-base] Add Moderator Single Game Guide Management Backend
  src/chigame/knowledge_base/urls.py
  src/chigame/knowledge_base/views.py
  src/templates/knowledge-base/moderator_game_list.html
  src/templates/knowledge-base/moderator_pending_guides.html
  src/templates/knowledge-base/moderator_single_game.html
Labels: x/knowledge-base

#1042 [knowledge-base] Add QOL features to fixture and clean plaintext README
  src/chigame/knowledge_base/fixtures/README.md
  src/chigame/knowledge_base/fixtures/kb_email_verifications_data.json
  src/chigame/knowledge_base/fixtures/kb_guides_data.json
  src/chigame/knowledge_base/fixtures/kb_user_game_data.json
Labels: x/knowledge-base

#1050 [Knowledge Base] Make knowledge base frontend more user friendly
  src/templates/knowledge-base/base.html
  src/templates/knowledge-base/landing.html
Labels: x/knowledge-base

#1057 [Interactive Fiction] Solves the IF page Primary Key Error
  src/chigame/games/views.py
  src/templates/games/interactive-fiction/IF_game_create.html
Labels: x/interactivefiction

#1054 [knowledge-base] Add Status Update Banner Feature in Backend
  src/chigame/knowledge_base/migrations/0004_reviewfeedback_seen_alter_reviewfeedback_guide_id.py
  src/chigame/knowledge_base/migrations/0005_merge_20250517_1110.py
  src/chigame/knowledge_base/models.py
  src/chigame/knowledge_base/views.py
  src/templates/knowledge-base/feedback_detail.html
  src/templates/knowledge-base/landing.html
Labels: x/knowledge-base

#772 [achievements] Visual Mockup Updates - Improved HTML with More Functionalities
  src/sandbox/achievement-mockup/user-achievements-page.html
Labels: x/achievements

#915 [Adding Games - Checkers] Created easy bot
  src/sandbox/checkers-prototype/game.js
  src/sandbox/checkers-prototype/index.html
Labels: enhancement, x/game/checkers

#814 [achievements] Created achievement model factories for testing
  .pre-commit-config.yaml
  src/chigame/achievements/tests/factories.py
Labels: x/achievements

#674 Added checkers model to models.py
  src/chigame/games/migrations/0036_checkers_checkersboard_checkersturn.py
  src/chigame/games/models.py
Labels: x/game/checkers

#931 [Adding Games - Checkers] Settings menu redesign
  src/sandbox/checkers-prototype/css/style.css
  src/sandbox/checkers-prototype/game.js
  src/sandbox/checkers-prototype/index.html
Labels: enhancement, x/game/checkers

#784 [Live Chat] Created models to implement reactions to messages.
  src/chigame/chat/models.py
Labels: enhancement, x/live-chat

#808 [Adding Games - Checkers] Implemented valid move tile highlighting and random move hint
  src/sandbox/checkers-prototype/game.js
Labels: x/game/checkers

#773 [Leaderboards] Add privacy settings model
  src/chigame/leaderboards/models.py
Labels: x/leaderboards

#821 Live chat/implement models and files needed for profanity filtering
  src/chigame/chat/consumers.py
  src/chigame/chat/utils.py
  src/chigame/games/migrations/0029_alter_review_game.py
  src/chigame/games/migrations/0030_merge_0029_alter_review_game_0029_merge_20250507_1534.py
  src/chigame/games/migrations/0035_merge_20250512_2236.py
  src/chigame/games/migrations/0036_merge_20250514_2211.py
  src/chigame/games/migrations/0037_merge_20250518_2303.py
  src/chigame/users/migrations/0008_user_profanity_filter.py
  src/chigame/users/migrations/0010_merge_20250514_2211.py
  src/chigame/users/migrations/0011_merge_20250518_2303.py
  src/chigame/users/models.py
Labels: enhancement, x/live-chat

#817 [achievements] Added str function to models
  src/chigame/achievements/models.py
Labels: x/achievements

#877 [achievements] updated UserAchievement time fields
  src/chigame/achievements/migrations/0003_userachievement_last_updated_and_more.py
  src/chigame/achievements/models.py
  src/chigame/knowledge_base/migrations/0004_alter_reviewfeedback_guide_id.py
Labels: x/achievements

#812 [Adding Games - Checkers] Aligning end prompts
  src/sandbox/checkers-prototype/css/style.css
  src/sandbox/checkers-prototype/game.js
  src/sandbox/checkers-prototype/index.html
Labels: x/game/checkers

#957 [Adding Games - Checkers] Added sound effects to the game
  src/sandbox/checkers-prototype/css/style.css
  src/sandbox/checkers-prototype/game.js
  src/sandbox/checkers-prototype/sfx/bling.mp3
  src/sandbox/checkers-prototype/sfx/slide.mp3
Labels: x/game/checkers

#1015 [Adding Games - Checkers] Show row and column coordinates
  src/sandbox/checkers-prototype/game.js
  src/sandbox/checkers-prototype/index.html
Labels: x/game/checkers

#1031 [Adding Games - Checkers]captured pieces display
  src/sandbox/checkers-prototype/css/style.css
  src/sandbox/checkers-prototype/game.js
  src/sandbox/checkers-prototype/index.html
Labels: x/game/checkers

#1037 [achievements] Implement User-Specific Achievement Display and Urls Update
  src/chigame/achievements/urls.py
  src/chigame/achievements/views.py
Labels: x/achievements

#1053 [achievements] dynamic template for achievement page
  src/static/images/achievement_icons/1.png
  src/static/images/achievement_icons/2.png
  src/static/images/achievement_icons/3.png
  src/static/images/achievement_icons/4.png
  src/templates/achievements/user_achievements.html
Labels: x/achievements

#698 Userprof/notifications
  src/chigame/api/serializers.py
  src/chigame/api/views.py
  src/chigame/games/migrations/0031_alter_feedback_user_alter_review_game.py
  src/chigame/users/migrations/0011_group_description_alter_notification_type.py
  src/chigame/users/migrations/0012_merge_20250518_2347.py
  src/chigame/users/models.py
  src/chigame/users/tests/factories.py
  src/chigame/users/urls.py
  src/chigame/users/views.py
Labels: x/user-profiles-friending

#918 Live chat/improve documentation potentially where wordsphrases are stored for profanity filtering features
  src/chigame/chat/PROFANITY.txt
  src/chigame/chat/utils.py
  src/chigame/games/migrations/0036_merge_20250514_2202.py
  src/chigame/games/migrations/0038_merge_20250519_0011.py
  src/chigame/knowledge_base/migrations/0004_alter_reviewfeedback_guide_id.py
  src/chigame/users/migrations/0010_merge_20250514_2202.py
  src/chigame/users/migrations/0013_merge_20250519_0011.py
Labels: enhancement, x/live-chat

#484 Tournaments/join match in tournament detail view
  src/chigame/games/views.py
  src/static/css/tournament_styles.css
  src/templates/tournaments/tournament_archived_list.html
  src/templates/tournaments/tournament_detail.html
  src/templates/tournaments/tournament_list.html
Labels: x/tournaments

#753 [tournaments] Added Round Robin and Multi-Stage Tournaments
  src/chigame/games/simulation_utils.py
  src/chigame/games/views.py
  src/chigame/users/fixtures/test_players.json
  src/templates/tournaments/multi_stage_detail.html
  src/templates/tournaments/round_robin_detail.html
  src/templates/tournaments/single_double_detail.html
  src/templates/tournaments/tournament_detail.html
Labels: x/tournaments

#1045 [Knowledge Base] Integrate markdown parsing with guide view
  src/chigame/knowledge_base/markdown_extensions.py
  src/chigame/knowledge_base/views.py
  src/static/css/knowledge-base/markdown.css
  src/static/css/knowledge-base/single-guide.css
  src/templates/knowledge-base/guide_detail.html
Labels: x/knowledge-base

#1058 [Signup Page] Create Signup Page
  frontend/vue/src/pages/SignupPage.vue
  frontend/vue/src/router.js
Labels: x/frontend

#1098 [Checkers] Prevent non-logged-in users from accessing Checkers game
  src/chigame/games/fixtures/checkers-fixture.json
  src/chigame/games/migrations/0036_checkers_checkersboard_checkersturn.py
  src/chigame/games/models.py
  src/chigame/games/serializers.py
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/static/checkers-prototype/css/style.css
  src/static/checkers-prototype/game.js
  src/static/checkers-prototype/index.html
  src/templates/games/game_checkers.html
Labels: x/game/checkers

#985 [knowledge-base] Add Guide Review Page Frontend
  src/templates/knowledge-base/moderator_review_guide.html
  static/css/knowledge-base-styles.css
Labels: x/knowledge-base

#1105 [Knowledge Base] Implement user-facing subapp navbar
  src/static/css/knowledge-base-styles.css
  src/templates/base.html
  src/templates/knowledge-base/base.html
Labels: x/knowledge-base

#1138 [frontend] Added Game Library Page
  frontend/vue/public/checkerstemp.jpg
  frontend/vue/public/notwordletemp.jpg
  frontend/vue/src/components/NavBar.vue
  frontend/vue/src/pages/GameLibrary.vue
  frontend/vue/src/pages/HomePage.vue
  frontend/vue/src/router.js
Labels: x/frontend

#1076 [Interactive Fiction] Game Hosting Accessibility
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/config/settings/base.py
  src/templates/games/game_form.html
Labels: x/interactivefiction

#1051 [knowledge-base] Added redirect funtionality to review guide submission buttons
  src/chigame/knowledge_base/views.py
Labels: x/knowledge-base

#1172 [Carousel] Added Game Carousel to Home Page in Vue
  frontend/vue/package-lock.json
  frontend/vue/package.json
  frontend/vue/src/components/NavBar.vue
  frontend/vue/src/pages/HomePage.vue
  frontend/vue/src/pages/ProfilePage.vue
  frontend/vue/src/pages/images/checkers.png
  frontend/vue/src/pages/images/management.png
  frontend/vue/src/pages/images/reversi.png
  frontend/vue/src/pages/images/wordgame.png
  frontend/vue/src/router.js
Labels: x/frontend

#1119 [API] Add ordering, pagination, and test coverage for feedback API
  src/chigame/api/serializers.py
  src/chigame/api/tests/factories.py
  src/chigame/api/tests/test_api.py
  src/chigame/api/views.py
Labels: x/api

#1132 Game management/recommendation UI
  src/chigame/games/management/__init__.py
  src/chigame/games/management/commands/__init__.py
  src/chigame/games/management/commands/create_test_games.py
  src/chigame/games/tests.py
  src/chigame/games/views.py
  src/templates/games/game_detail.html
  src/templates/games/management/__init__.py
  src/templates/games/management/commands/__init__.py
  src/templates/games/management/commands/create_test_games.py
Labels: x/game-management

#1223 [Inbox] Integrate custom labelling changes with refinement branch
  src/chigame/users/urls.py
  src/chigame/users/views.py
  src/templates/users/manage_labels.html
  src/templates/users/notifications_by_label.html
  src/templates/users/user_inbox.html
Labels: enhancement

#1064 [Interactive Fiction] IF Upload Page Drag and Drop Restyling
  src/templates/games/interactive-fiction/IF_game_create.html
Labels: x/interactivefiction

#1010 [knowledge-base] Add backend for feedback page
  src/chigame/knowledge_base/migrations/0004_generalfeedback_alter_reviewfeedback_guide_id.py
  src/chigame/knowledge_base/migrations/0006_merge_20250519_1518.py
  src/chigame/knowledge_base/models.py
  src/chigame/knowledge_base/urls.py
  src/chigame/knowledge_base/views.py
  src/static/css/knowledge-base/feedback.css
  src/templates/knowledge-base/base.html
  src/templates/knowledge-base/feedback.html
Labels: x/knowledge-base

#762 [Tournament] Implement Feedback Service Layer (Create and Read operations)
  src/chigame/games/urls.py
  src/chigame/games/views.py
Labels: x/tournaments

#1200 [API] Added endpoint to return average rating and popularity for a game
  src/chigame/api/serializers.py
  src/chigame/api/urls.py
  src/chigame/api/views.py
Labels: x/api

#905 Testing for leaderboards privacy settings model
  src/chigame/leaderboards/apps.py
  src/chigame/leaderboards/models.py
  src/chigame/leaderboards/tests/factories.py
  src/chigame/leaderboards/tests/test_models.py
Labels: x/leaderboards

#967 [Tournament] Implement Feedback Service Layer (Updated and Delete operations)
  src/chigame/games/urls.py
  src/chigame/games/views.py
  src/config/settings/local.py
Labels: x/tournaments

#1191 [API] Add Tournament Simulation Endpoint for Bracket Previews
  src/chigame/api/urls.py
  src/chigame/api/views.py
  src/chigame/games/simulation_utils.py
Labels: x/api

#1217 [API] Add Unit Tests for Tournament Simulation View
  src/chigame/api/tests/factories.py
  src/chigame/api/tests/test_api.py
Labels: x/api

#1012 [Tournament] Added players fixtures
  src/chigame/games/fixtures/rec_test_players.json
  src/chigame/games/fixtures/rec_test_users.json
  src/chigame/games/fixtures/recommendation_test_users.json
  src/chigame/games/fixtures/test_players.json
Labels: x/tournaments

#544 Closing issue #387 : Adding new metrics for sorting
  src/chigame/games/views.py
Labels: x/game-management

#860 [Tournament] Implement Tournament Player Recommendation Service
  src/chigame/games/fixtures/README_simulation_fixtures.md
  src/chigame/games/recommendation.py
  src/chigame/games/recommendation_tests.py
Labels: x/tournaments

#1067 [Word game] Creating Key Value Store System
  src/chigame/api/serializers.py
  src/chigame/api/urls.py
  src/chigame/api/views.py
  src/chigame/games/migrations/0036_wordgamedata.py
  src/chigame/games/migrations/0037_gamedata_delete_wordgamedata.py
  src/chigame/games/migrations/0039_merge_20250519_0030.py
  src/chigame/games/models.py
Labels: x/game/words

#1075 Word game Sound Feature
  src/sandbox/words-game/game.css
  src/sandbox/words-game/game.html
  src/sandbox/words-game/game.js
  src/sandbox/words-game/sounds/click.mp3
  src/sandbox/words-game/sounds/lose.mp3
  src/sandbox/words-game/sounds/yay.mp3
Labels: x/game/words

#1079 [Word Game] Expand Word Game Settings
  src/sandbox/words-game/game.css
  src/sandbox/words-game/game.html
  src/sandbox/words-game/game.js
Labels: x/game/words

#1174 [leaderboards] Create a general fixture
  src/chigame/leaderboards/fixtures/test_leaderboard_fixture.json
Labels: x/leaderboards

#1103 [Users] Added usable fixtures for testing users to address issue #684
  src/chigame/users/fixtures/users_fixture.json
Labels: x/user-profiles-friending

#1107 Added group invitation and groups to fixture file
  src/chigame/users/fixtures/users_fixture.json
Labels: x/user-profiles-friending

#1177 [users] Removed uniqueness constraint on FriendInvitation model
  src/chigame/users/models.py
Labels: bug, x/user-profiles-friending

#1192 [users] Updated model factories, model and manager tests
  src/chigame/chat/migrations/0003_alter_livechatmessagereaction_content.py
  src/chigame/users/migrations/0014_alter_friendinvitation_unique_together.py
  src/chigame/users/models.py
  src/chigame/users/tests/factories.py
  src/chigame/users/tests/test_managers.py
  src/chigame/users/tests/test_models.py
  src/chigame/users/views.py
Labels: enhancement, x/user-profiles-friending

#1203 [users] Fixed notification attribute error that causes page to crash
  src/chigame/users/models.py
Labels: bug, x/user-profiles-friending

#1156 [knowledge-bases] Notification banner now appears on succesful guide file upload.
  src/chigame/knowledge_base/views.py
  src/templates/knowledge-base/contributor_manage_guide.html
Labels: bug, x/knowledge-base

#1163 [Interactive Fiction] Add button on General Create Page that routes to IF Create Page
  src/templates/games/game_grid.html
Labels: x/interactivefiction

#1188 [knowledge-base] Added notification banner for Moderators on successful guide review.
  src/chigame/knowledge_base/views.py
  src/templates/knowledge-base/landing.html
  src/templates/knowledge-base/moderator_pending_guides.html
Labels: x/knowledge-base

#1166 [Interactive Fiction] Allow Users to Pick from Pre-Selected Example Tags on the IF Upload Game Page
  src/templates/games/interactive-fiction/IF_game_create.html
Labels: x/interactivefiction

#1211 [frontend] Created About Page
  frontend/vue/src/pages/AboutPage.vue
Labels: x/frontend

#1226 [knowledge-base] Implement frontend for moderator single-game view
  src/chigame/knowledge_base/views.py
  src/templates/knowledge-base/moderator_game_list.html
  src/templates/knowledge-base/moderator_single_game.html
Labels: enhancement, x/knowledge-base

#1023 [Tournament] Implemented final tests before implementing Frontend, Updated the Recommendation Service
  src/chigame/games/recommendations_tests.py
Labels: x/tournaments

#861 Implementation of the Game Queue model and its migration [#843]
  src/chigame/games/migrations/0029_gamequeue_alter_review_game_gamequeueentry.py
  src/chigame/games/migrations/0040_merge_20250521_1413.py
  src/chigame/games/models.py
Labels: x/game-management

#962 [Live Chat] Implement Basic Chat Reactions
  src/chigame/chat/consumers.py
  src/chigame/chat/migrations/0001_initial.py
  src/chigame/chat/migrations/0002_livechatmessagereaction.py
  src/chigame/chat/migrations/0003_alter_livechatmessagereaction_content.py
  src/chigame/chat/models.py
  src/chigame/chat/urls.py
  src/chigame/chat/views.py
  src/chigame/knowledge_base/migrations/0004_alter_reviewfeedback_guide_id.py
  src/chigame/users/models.py
  src/config/settings/test.py
  src/templates/base.html
  src/templates/chat/components/_context_menu.html
  src/templates/chat/components/_messages.html
  src/templates/chat/components/_script.html
  src/templates/chat/live-chat-list.html
Labels: enhancement, x/live-chat

#862 Added the additional service functions for the Game Queue [#845]
  src/chigame/api/tests/factories.py
  src/chigame/games/models.py
Labels: x/game-management

#1083 [Word game] Fix Tile Color Coding Logic Error
  src/chigame/templates/games/wordle.html
  src/sandbox/words-game/game.css
  src/sandbox/words-game/game.js
  src/sandbox/words-game/index.html
  src/sandbox/words-game/style.css
  src/static/css/project.css
Labels: bug, x/game/words
